/* branding color definitions */
:root {
  --green: #006621;
  --gray: #545454;
  --blue: #1a0dab;
  --purple: #660099;
  --black: #222222;
  --white: #ffffff;
}

/* general */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /*border: 1px solid black; /* for debug only */
  text-decoration: none;
  font-family: Roboto, arial, sans-serif;
  font-weight: normal;
}
body {
  color: var(--gray);
  font-size: small;
}
h3 {
  font-size: small;
}
strong, strong * {
  font-weight: bold;
}
a {
  color: var(--blue);
}
a:visited {
  color: var(--purple);
}
.button, .button:visited {
  background: #4285f4;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: var(--white);
}
.subhedding, .minor.link {
  color: var(--gray);
}
.text-link {
  color: var(--black);
}

/* header */
header > * {
  display: flex;
  justify-content: space-between;
}
nav {
  margin-left: 7%;
  width: 35%;
  font-size: x-small;
}
nav a, nav a:visited {
  color: var(--gray);
}
nav a.selected, nav a.selected:visited {
  color: var(--blue);
  font-weight: bold;
}
nav a:not(.selected):hover{
  color: var(--black);
}

/* search results */
#main > * {
  margin-left: 7%;
}
#result-container {
  display: flex;
  justify-content: flex-start;
}
#result-container > div:first-child {
  width: 40%;
}
#result-container > div:nth-child(2) {
  width: 28%;
  color: var(--black);
}
strong > a, strong > a:visited {
  color: var(--black);
}

/* page results */
#result-page-container > div {
  display: flex;
  flex-direction: column;
}
#result-page-container h3 {
  font-size: small;
}
.result-url {
  color: var(--green);
  font-size: x-small;
}

/* business results */
#business > div > div {
  display: flex;
}
#business > div > div {
  justify-content: space-between;
}
#business h3 {
  color: var(--black);
}

/* related searches */
#related > div {
  display: flex;
  justify-content: flex-start;
  font-size: x-small;
}
#related > div > * {
  display: flex;
  flex-direction: column;
}

/* pagination */
#pagination {
  display: flex;
  justify-content: center;
  color: var(--black);
}

/* company information */
#company-title {
  display: flex;
  justify-content: space-between;
}
#company-title > *:first-child {
  margin-right: auto;
}
#company-title h3 {
  font-size: x-large;
}

/* on google */
#on-google > div:first-child > a {
  display: flex;
}
#google-preview > a > div {
  display: flex;
  justify-content: space-between;
}
#google-preview {
  font-size: x-small;
}
#google-preview .minor {
  font-size: xx-small;
}

/* related companies */
#company-related > div > div {
  display: flex;
}

/* results about */
#results-about > div > a {
  display: flex;
}
#results-about > div {
  font-size: xx-small;
}

/* footer */
footer {
  margin-left: 7%
}
footer a, footer a:visited {
  color: var(--gray);
}

